*{
    font-family: 'Oswald', sans-serif;
    background-color: darkcyan;
    opacity: 20;
    color: white;
  }
   

  h1 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
  }
   
  h2{
    text-align: center;
    font-size: 28px;
  }

  h3{
    font-size: 24px;
  }
   
  p{
    font-size: 20px;
  }

  a{
    font-size: 20px;
  }

  video{
    margin: 10px 10px;
    border:  5px solid white;
  }

  
  .linkedin{
    text-align: center;
  }
.burrito-picture{
  margin: 10px 10px;
    border:  5px solid white;
}
  #header{
    align-items: baseline;
    display: flex;
    justify-content: space-evenly;
  }

  .intro{
    margin: 5px 70px 5px 50px;
    text-align: center;
  }

  .intro-picture{
    height: 500px;
    width: auto;
    padding: 10px;
    margin: 10px 50px 20px;
    border:  5px solid white;
  }

  .contact-picture{
    height: 500px;
    width: auto;
    padding: 10px;
    margin: 10px 50px 20px;
    border:  5px solid white;
  }

  .line-break{
    width: 95%;
    color: white; 
  }

  #intro{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #section-links{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .section-links{
    margin: 50px;
    text-align: center;
  }

  #contact-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #contact-details{
    text-align: center;
  }

  .burrito-rankings{
    border: 3px dashed white;
    padding: 10px;
    text-align: center;
    margin: 10px;
    width: 40%;
  }

  #burrito-rankings{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .sunrise-minturn{
    display: flex;
    justify-content: center;
   
  }